*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.79);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    /* background-color: antiquewhite; */
    height: 250px;
    /* width: 600px; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    gap: 50px;
    margin-top: 60px;
    padding: 50px;
    

}
.cover{
    height: 300px;
    width: 280px;
}
.controls{
    color: white;
}
.controls{
    display: flex;
    gap: 30px;
}
button{
    height: 35px;
    width: 50px;
}

.text-controls{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
    height: 300px;
    
}
.text-container{
    flex-basis: 30%;
}
.title{
    font-size:90px ;
}


.control-bar{
    border: 2px yellow solid;
    height: 150px;

}