{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}
<main>
    <div class="login-container">
        <h2>Welcome Back</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <div class="message-box">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>

        <div class="bottom-text">
            Don’t have an account? <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
</main>
{% endblock %}
